<div class="card bg-light">
  <div class="card-body">
    <dl class="row">
      <dt class="col-4 text-right">Username:</dt>
      <dd class="col-8"><%= user.username %></dd>
    </dl>
  </div>
</div>